<div class="container" style="text-align: center" *ngIf="languages.length === 0">
  <h3>Loading...</h3>
</div>
<div class="container" *ngIf="languages.length > 0">
  <h3>Employee Form</h3>
  <form #form="ngForm" (submit)="submitForm(form)" novalidate>
    <div class="form-group">
      <label class="control-label">First Name</label>
      <input type="text"
        #firstName="ngModel"
        class="form-control"
        required
        pattern="...+"
        placeholder="First name" 
        name="firstName"
        autocomplete="given-name"
        [ngModel]="model.firstName"
        (ngModelChange)="firstNameToUpperCase($event)"
        [class.is-invalid]="firstName.invalid && firstName.touched"
      >
      <div *ngIf="firstName.invalid && firstName.touched" class="invalid-feedback">
        First name is required, and must be three or more characters.
      </div>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input 
        type="text" 
        class="form-control"
        required
        pattern=".+"
        placeholder="Last name" 
        name="lastName"
        autocomplete="family-name"
        #lastName="ngModel"
        [(ngModel)]="model.lastName"
        [class.is-invalid]="lastName.invalid && lastName.touched"
      >
      <div *ngIf="lastName.invalid && lastName.touched" class="invalid-feedback">
          Last name is required, and must be one or more characters.
        </div>
    </div>

    <div class="form-group">
      <button
        type="button"
        class="btn"
        name="isFulltime"
        #isFullTime
        [ngModel]="model.isFulltime"
        (ngModelChange)="processFullTime($event)"
        [class.btn-primary]="fullTimeActive"
        btnCheckbox
      > {{ fulltime }}
      </button>
    </div>

    <label>Payment Type</label>
    <div class="btn-group" style="display: block">
      <label class="btn btn-primary" name="model.paymentType" [(ngModel)]="model.paymentType"
        btnRadio="w2" tabindex="0" role="button">w2</label>
      <label class="btn btn-primary" name="model.paymentType" [(ngModel)]="model.paymentType"
        btnRadio="1099" tabindex="0" role="button">1099</label>
    </div>

    <div class="form-group">
      <label class="control-label">Primary Language</label>
      <select
        class="form-control"
        name="primaryLanguage"
        #primaryLanguage
        [class.is-invalid]="hasPrimaryLanguageError"
        (blur)="validatePrimaryLanguage(primaryLanguage.value)"
        (change)="validatePrimaryLanguage(primaryLanguage.value)"
        [(ngModel)]="model.primaryLanguage"
      >
        <option value="default">Select a Language...</option>
        <option *ngFor="let lang of languages">{{ lang }}</option>
      </select>
      <div *ngIf="hasPrimaryLanguageError" class="invalid-feedback">
        Please select a primary language
      </div>
    </div>

    <div class="form-group">
      <label>Date Hired</label>
      <input
        type="text"
        class="form-control"
        placeholder="Datepicker"
        [bsConfig]="{ 
          dateInputFormat: 'DD-MM-YYYY',
          containerClass: 'theme-red',
          showWeekNumbers: false
        }"
        bsDatepicker
        name="startDate"
        #startDate="ngModel"
        [(ngModel)]="model.startDate"
      />
    </div>

    <div class="form-group">
      <label>Work Start Time</label>
      <timepicker
        class="form-control"
        #startTime="ngModel"
        name="startTime"
        [(ngModel)]="model.startTime"
      ></timepicker>
    </div>

    <div class="form-group">
      <rating
        name="rating"
        [max]="10"
        [(ngModel)]="model.rating"
        [customTemplate]="t" style="color: #0275d8; font-size: 20px;">
      </rating>
      <ng-template #t let-index="index" let-value="value">{{index < value ? '&#9745;' : '&#9744;'}}</ng-template>
    </div>

    <button 
      class="btn btn-primary"
      type="submit"
      [disabled]="form.invalid"
    >OK</button>
    <h3>{{ form.pristine }}</h3>
  </form>
</div>
